.profile-btn {
  width: 52px;
  height: 52px;
  min-width: 52px;
  background: linear-gradient(135deg, #10e196, #2940ff);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease;
}

.profile-btn:hover {
  transform: scale(1.05);
}
